hr {
	height: 2px;
	background-color: #330080;
	border: none;
}

.pagination a {
	color: #330080;
	padding: 8px 16px;
	text-decoration: none;
}

.pagination a.active {
	background-color: #330080;
	color: white;
	border-radius: 5px;
}

.pagination a:hover:not(.active) {
	background-color:#ddd;
	border-radius: 5px;
}

body {
	background-color: rgb(138,170,239);
	background-color: radial-gradient(circle, rgba(138,170,239,1) 0%, rgba(255,255,255,1) 100%);
	color: #330080 /* sets text color to some shade of purple */
}


#headshot {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}